.header_box,
.header_box_fixed,
.header_box_mobile,
.header_box_fixed_mobile {
  display: flex;
  width: 100%;
  padding: 15px 115px;
  justify-content: space-between;
}

.header_box_mobile,
.header_box_fixed_mobile {
  padding: 15px 30px;
}

.header_box_fixed,
.header_box_fixed_mobile {
  top: 0;
  background-color: #ececec;
  border-bottom: 1px solid #bfbfbf;
  position: fixed;
  animation: header_anim 0.5s;
}

.none {
  height: 0px;
}

.fixed_filler {
  height: 60px;
  width: 100%;
}

.logo {
  height: 30px;
}

.menu_box,
.menu_box_mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0f1012;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: menu_anim;
}

.menu_box_mobile {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

.menu_item_box,
.menu_item_box_mobile {
  display: flex;
  align-items: stretch;
}

.menu_item_box_mobile {
  flex-direction: column;
}

.menu_close_button {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.line_narrow {
  height: 1px;
  width: 300px;
  max-width: calc(100vw - 60px);
  background-color: #fff;
}

@keyframes header_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu_anim {
  0% {
    transform: translate(20vw);
  }
  100% {
    transform: translateX(0);
  }
}
