.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

.error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.artist_title_box {
  border-bottom: 1px solid #bfbfbf;
  display: flex;
  width: 100%;
  padding: 14px 28px;
  align-items: center;
}

.artwork_image_box,
.artwork_image_box_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
}

.artwork_image_box {
  width: 50vw;
}

.artwork_image_box_mobile {
  width: calc(100vw - 30px);
}

.artwork_image,
.artwork_image_mobile {
  width: 100%;
  object-fit: contain;
}

.artwork_image_mobile {
  height: 330px;
}

.line {
  width: 100%;
  height: 1px;
  background: #bfbfbf;
}

.items_box,
.items_box_mobile {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60px);
}

.items_box_mobile {
  width: calc(100% - 30px);
}
