.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheader_box,
.subheader_box_mobile {
  border-top: 1px solid var(--S_black_350, #b3b3b3);
  border-bottom: 1px solid var(--S_black_350, #b3b3b3);
  background: var(--S_black_250, #d2d1d1);
  display: flex;
  width: 100%;
  padding: 6.5px 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.subheader_box_mobile {
  padding: 6.5px 28px;
}

.artwork_image_box {
  cursor: pointer;
  animation: fade_anim 1s ease-out;
  overflow: hidden;
  aspect-ratio: 1;
}

.artwork_image_box:hover {
  border-radius: 50%;
}

.artwork_image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.image_grid_big,
.image_grid_small,
.image_grid_big_mobile,
.image_grid_small_mobile {
  display: grid;
  background-color: #d2d1d1;
  gap: 1px 1px;
}

.image_grid_big {
  grid-template-columns: auto auto auto ;
}

.image_grid_small {
  grid-template-columns: auto auto auto auto auto auto;
}

.image_grid_big_mobile {
  grid-template-columns: auto;
}

.image_grid_small_mobile {
  grid-template-columns: 50% 50%;
}




@keyframes fade_anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
