.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheader_box,
.subheader_box_mobile {
  border-top: 1px solid var(--S_black_350, #B3B3B3);
  border-bottom: 1px solid var(--S_black_350, #B3B3B3);
  background: var(--S_black_250, #D2D1D1);
  display: flex;
  width: 100%;
  padding: 6.5px 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.subheader_box_mobile {
  padding: 6.5px 28px;
}

.artwork_image{
  object-fit: cover;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.artwork_image:hover {
  border-radius: 50%;
}

.image_grid {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #D2D1D1;
}
