.count_button {
  border-radius: 36px;
  border: 1px solid var(--S_lime_300, #e8f452);
  background: rgba(232, 244, 82, 0);
  display: inline-flex;
  padding: 11.5px 34.5px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: #e8f452;
  text-align: center;
  font-family: SUIT;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.2px;
  cursor: pointer;
}

.count_button_mobile {
  border-radius: 36px;
  border: 1px solid var(--S_lime_300, #e8f452);
  display: inline-flex;
  height: 38px;
  padding: 10.2px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: #e8f452;
  text-align: center;
  font-family: SUIT;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  cursor: pointer;
}

.count_button:hover {
  background: #e8f452;
  color: #0f1012;
}

.count_button_mobile:hover {
  background: #e8f452;
  color: #0f1012;
}

.go_to_store_button,
.go_to_store_button_mobile {
  border-radius: 36px;
  border: 1px solid var(--S_lime_300, #e8f452);
  background: var(--S_lime_300, #e8f452);
  display: inline-flex;
  padding: 11.5px 34.5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--S_black_500, #0f1012);
  text-align: center;
  font-family: SUIT;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 32.2px;
  cursor: pointer;
}

.go_to_store_button_mobile {
  padding: 10.2px 17px;
  font-size: 17px;
  line-height: 17px;
  width: 100%;
}

.go_to_store_button:hover {
  border: 1px solid var(--white, #fff);
  background: var(--white, #fff);
}

.button_important {
  display: inline-flex;
  height: 48px;
  padding: 11.5px 23px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 80px;
  border: 1px solid #0f1012;
  background: #0f1012;
  cursor: pointer;
  font-family: SUIT;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  letter-spacing: -0.085px;
  color: #fff;
}

.button_important:hover {
  background: #fff;
  color: #0f1012;
}

.pricetag_default,
.pricetag_clicked {
  position: relative;
  width: 86px;
  height: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.pricetag_default {
  cursor: pointer;
}

.pricetag_clicked {
  opacity: 0.5;
}
