@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

* {
  box-sizing: border-box;
}
body {
  background-color: #0F1012;
}

.W1 {
  color: #E8F452;
  font-family: 'SUIT';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: -0.115pt;
  line-height: 1.65;
}

.W2 {
  color: #FFFFFF;
  font-family: 'SUIT';
  font-weight: 500;
  font-size: 23px;
  letter-spacing: -0.5pt;
  line-height: 1.65;
}