@import url("https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.W1 {
  color: #e8f452;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  letter-spacing: -0.115px;
  line-height: 1.65;
}

.W2 {
  color: #ffffff;
  font-family: "SUIT";
  font-weight: 500;
  font-size: 23px;
  letter-spacing: -0.115px;
  line-height: 1.65;
}

.M1 {
  color: #e8f452;
  font-family: "SUIT";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: -0.085px;
  line-height: 28px;
}

.M2 {
  color: #ffffff;
  font-family: "SUIT";
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.085px;
  line-height: 28px;
}

.A1 {
  font-family: "SUIT";
  color: var(--S_gray_500, #0f1012);
  font-family: SUIT;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 29.8px; /* 141.905% */
  letter-spacing: -0.105px;
}

.H1 {
  font-family: SUIT;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 49.5px; /* 150% */
  letter-spacing: -0.165px;
  color: #0f1012;
}

.H2 {
  font-family: SUIT;
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 49.5px; /* 150% */
  letter-spacing: -0.165px;
  color: #0f1012;
}

.P1 {
  font-family: SUIT;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  letter-spacing: -0.085px;
  color: #0f1012;
}

.P2 {
  font-family: SUIT;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.05px; /* 165% */
  letter-spacing: -0.085px;
  color: #0f1012;
}

.D1 {
  font-family: "SUIT";
  color: var(--S_gray_500, #0f1012);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 180% */
  letter-spacing: -0.075px;
}

.D1 {
  font-family: "SUIT";
  color: var(--S_gray_500, #0f1012);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 180% */
  letter-spacing: -0.075px;
}

.B {
  color: var(--S_gray_500, #0f1012);
  font-family: "SUIT";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px; /* 140% */
  letter-spacing: -0.07px;
}

.F {
  color: var(--S_gray_400, var(--S_black_300, #717171));
  font-family: "SUIT";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.8px; /* 140% */
  letter-spacing: -0.06px;
}

.FOOTER {
  font-family: "SUIT";
  color: var(--S_black_300, var(--S_black_300, #717171));
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.8px;
}

.FOOTER_2 {
  color: var(--S_gray_500, #0f1012);
  font-family: SUIT;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.6px; /* 140% */
}
