.footer_box,
.footer_box_mobile {
  border-top: 1px solid var(--S_black_350, #b3b3b3);
  background: var(--S_black_250, #d2d1d1);
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    padding: 6px 30px;
}

.footer_box_mobile {
    padding: 6px 15px;
}